<% if(admin) {%>
    <%- include('./cars/index.ejs')%>
        <%} else {%>
            <%- include('./partials/header.ejs')%>

                <a href="/sign-in" class="btn btn-primary btn-lg">Sign In</a>
                <%}%>
                    <%- include('./partials/footer.ejs')%>