<%- include('./partials/header.ejs')%>
    <div class="container">
        <div class="card mx-auto my-5" style="width: 18rem;">
            <img src="/img/user.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">My profile</h5>
                <p class="card-text">
                    <%= email %>
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>