<%- include('./partials/header.ejs')%>
    <form action="/sign-up" method="POST">
        <input type="text" name="email" placeholder="User name">
        <input type="password" name="password" placeholder="Password">
        <input type="number" name="age" placeholder="Your age">
        <button type="submit">Sign In</button>
    </form>

    <%- include('./partials/footer.ejs')%>