<!DOCTYPE html>
<%- include ../Partials/header.ejs %>
    <div class="container mt-5">
        <h3>Add a book</h3>
        <form action="/books/new" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Title">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="price" placeholder="Price">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="pages" placeholder="Pages">
            </div>
            <div class="form-group">
                <input type="url" class="form-control" name="img" placeholder="Paste img here">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="info" placeholder="Message">

          </textarea>

            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>