<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/books" method="POST">
        <div>
            <input type="text" name="title" placeholder="Title">
        </div>
        <div>
            <input type="number" name="price" placeholder="Price">
        </div>
        <div>
            <input type="number" name="pages" placeholder="Pages">
        </div>
        <button type="submit">Create</button>
    </form>

    <ul>
        <% if(data){%>
            <% data.forEach(item => {%>
                <li>
                    <%= item.title %>
                </li>

                <% })%>
                    <% } %>
    </ul>
</body>

</html>