<%- include('./partials/header.ejs')%>
    <h1>
        <%= title %>
    </h1>
    <% if(admin) {%>
        <a href="/log-out">Log out</a>
        <% } else { %>
            <a href="/sign-in">Sign In</a> |
            <a href="/sign-up">Sign Up</a>
            <% }%>
                <%- include('./partials/footer.ejs')%>