<%- include('./partials/header.ejs')%>
    <form action="/sign-in" method="POST">
        <input type="text" name="email" placeholder="User name">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Sign In</button>
    </form>


    <%- include('./partials/footer.ejs')%>